.profile-picture {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight:700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid#7e497e;
    background-color: #938de3;
  }
  
  .profile-picture span {
    text-align: center;
    color:white;
  }
 
  .profile-picture img {
    width: 100%; /* Ensure the image covers the container */
    height: auto; /* Allow the image to scale proportionally */
    display: block; /* Ensure proper layout */
    border-radius: 50%; /* Make sure the image itself is also circular */
    padding:0;
}