
.employee-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-column {
  flex: 1;
  margin-top: 10px;
}

.EmployeeId {
  width: 90px;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.edit-employee-label {
  display: block;
  margin-bottom: 10px;
}

.edit-employee-input
{
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.edit-employee-dropdown {
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.Submit-button {
  background-color: rgb(10, 102, 222);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.Submit-button:hover {
  background: linear-gradient(to right, blue, rgb(198, 121, 231));
}

.employee-button {
  position: absolute;
  background-color: rgb(10, 102, 222);
  color: white;
  margin-left: 600px;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.employee-button:hover {
  background: linear-gradient(to right, blue, rgb(198, 121, 231));
}

.styledParagraph {
  font-size: 25px;
  font-weight: bolder;
}

.delete-button {
  margin-left: 50px;
  margin-bottom: -34px;
  background-color: rgb(10, 102, 222);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.delete-button:hover {
  background: linear-gradient(to right, blue, rgb(198, 121, 231));
}


body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body::before {
  content: "Pursuit Software";
  font-family: sans-serif;
  font-size: 3.8em;
  color: #a39696;
  opacity: 0.1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: -1;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  padding-left: 25px; /* Adjust spacing between the checkbox and the label */
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-right: 110px; 

}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; /* Default background color for unchecked checkbox */
}

/* Styling when the checkbox is checked */
.checkbox-input:checked ~ .custom-checkbox {
  background-color: rgb(10, 102, 222); /* Change background color when checked */
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-input:checked ~ .custom-checkbox:after {
  display: block;
}

.custom-checkbox:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

