body{
    margin:0;
    padding:0;
    font-family:-apple-system, BlinkMacSystemFont, sans-serif;
}
body::before {
    content: "Pursuit Software";
    font-family: sans-serif;
    font-size: 3.8em;
    color: #a39696;
    opacity: 0.1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    z-index: -1;
}
.main-div-form{
    /* margin-top:30px; */
   padding-top: 30px;
   padding-left: 160px;
   margin-left: 150px;
   height: fit-content;
   width:auto;
}

.input-css-form{
    margin-left:150px;
    width:300px;
    float:right;
    height: 40px;
    border: 1px solid black;
 }
 

 .submit-button{
     margin-left: 200px;
     margin-top: 50px;
     margin-bottom: auto;
     text-align: center;
     border: none;
     background-color: rgb(10, 102, 222);
     width: 160px;
     height: 40px;
     border-radius: 20px;
     color: white;
     font-weight: 600;
     padding-bottom: 20px;
     padding-top:8px;
     box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
 }
 .submit-button:hover{
    background: linear-gradient(to left,blue,rgb(198, 121, 231));
    color: white;
 }
 .label-input{
     /* padding-bottom: 20px; */
     display:inline-block;
    
 }
 .checkbox-label-input{
 
     display: inline-flex;

 }
 .check-label{
     height: 40px;
     width: 300px;
     margin-left: 10px;
 

 }
#sameAddressCheckbox{
    height: 20px;
    margin-top:2px;
   
 }
 .reg-header-emp{
 text-align: center;
 margin-bottom:30px;
 margin-left: 20px;
 font-weight: 800;
 background-color: rgb(254, 254, 254);
 padding:10px;
 width: fit-content;
 height: 60px;
 color: rgb(0, 0, 0);
 }
 .form-label{
     float:"left";
     text-align:"center";
     width:200px;
     height: 40px;
     color: rgb(0, 0, 0);
     padding-top: 10px;
     text-align: left !important;
     font-weight: 480;
    
 }
 .continue-text{
     color:green;
     text-align: center;
     margin: 2% 10%;
     display: flex;
     font-weight: 600;
     width: fit-content;
     height: 30px;
    align-items: center;
    justify-content: center;
 }
.form-errors{
    color:orangered;
     height: 20px;
    margin-bottom: 10px;
    
}
.date-field{
    margin-right: 244px;
}
.form-placeholder{
    border-radius: 5px;
}
.label-only{
    display:flex;
    
}
.mandatory{
    color:orangered;
}
.reportingmanngerlabel{
   margin-top:15px;
}
.reportingmanager-div{
    margin-left:-28px;
}