 .achievement-given-Achievement-container {
  display: flex;
  z-index: -1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 120vw;
  height: 100vh;
  bottom : -100px;
 padding-top: 5px;

  margin: 0 auto;
  
  margin-left: -35px;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
 
.achievement-given-completedButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}
 
 
.achievement-given-completedButton:hover {
  background: linear-gradient(to right, blue, rgb(198, 121, 231));
}
 
.achievement-given-table-container {
  margin: 38px;
  width: 80vw;
 padding-top: -80px;
  margin-left: 10px;
}
 
.achievement-given-custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
 

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.achievement-given-custom-table th, .custom-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 0.5px solid #ddd;
  line-height: 1.2;
}
 
.achievement-given-custom-table th {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1701221238491-d5247ff7abcc?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 
  color: rgb(8, 8, 8);
  
  
 
}
 
.achievement-given-custom-table tbody tr:hover {
  background-color: #f5f5f5;
}

.achievement-given-fileButton {
  background: none;
  border: none;
  color: black;  
   cursor: pointer; 
 }

 .achievement-given-fileButton:hover {
 
  
  color: blue; 
}


.achievement-given-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 50px;
  }
 
  .achievement-given-select-container {
  margin-left: 10px;
  }
 
  .achievement-given-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 50px;
  }


  .achievement-given-filter-search label {
    margin-right: 40px;
    font-weight: bold;
    color: #333;
    }
   
    .achievement-given-filter-search select{
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    }
   
    .achievement-given-filter-search input{
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    width: 480px;
    }

    .achievement-given-search-button {
    background-color: rgb(10, 102, 222);
    color: white;
    border: none;
    border-radius: 60%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
    }
   
    .achievement-given-search-button:hover {
    background: linear-gradient(to right,blue,rgb(198, 121, 231));
    }
    .add-buttons:hover {
    background: linear-gradient(to left,blue,rgb(198, 121, 231));
    color: white;}
   
    .achievement-given-completedButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    }
   
   
    .achievement-given-completedButton:hover {
    background: linear-gradient(to right, blue, rgb(198, 121, 231));
    }


    .achievement-given-search-b{
      background-color: rgb(10, 102, 222);
     
    color: white;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 70px;
    font-size: 14px;
    margin-bottom: 10px;
    box-shadow: 0 4px 5px rgba(3, 3, 3, 0.653);
    }

    .achievement-given-search-b:hover {
      background: linear-gradient(to right,blue,rgb(198, 121, 231));
      }



      .achievement-given-filter-search {
        margin-top: 30px; 
      }


