.FeedbackByEmp-container {
   
    display: flex;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 120vw;
    height: 100vh;
    margin: 0 auto;
  position: fixed;
  margin-left: -50px;
  margin-bottom: 100px;
  margin-top: 90px;
 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .feedback-given-button-container {
  display: flex;
  margin-bottom: 50px;
  gap:40px;
  }
  
  
  .feedback-given-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  }
  .feedback-given-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 170px;
  }
  
  .feedback-given-select-container {
  margin-left: 10px;
  }
  
  .feedback-given-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 50px;
  }
  
  .feedback-given-input-container {
  margin-left: 10px;
  }
  .feedback-given-filter-search{
  align-items: center;
  padding-top: 20px;
  gap:10px;
  width: 60vw;
  display: inline-flex;
  }
  .feedback-given-filter-search label {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
  }
  
  .feedback-given-filter-search select{
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  }
  
  .feedback-given-filter-search input{
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 14px;
  transition: border-color 0.3s;
  width: 480px;
  }
  .feedback-given-search-button {
  background-color: rgb(10, 102, 222);
  color: white;
  border: none;
  border-radius: 60%;
  height: 40px;
  width: 40px;
  font-size: 14px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
  }
  
  .feedback-given-search-button:hover {
  background: linear-gradient(to right,blue,rgb(198, 121, 231));
  }

  
  .feedback-given-completedButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  }
  
  
  .feedback-given-completedButton:hover {
  background: linear-gradient(to right, blue, rgb(198, 121, 231));
  }
  
  .feedback-given-table-container {
  margin-top: 20px;
  width: 80px;
  margin-right: 950px;
  margin-bottom: 170px;
  margin-top: 200px;
  }
  
  .feedback-given-custom-table {
  width: 100px;
  border-collapse: collapse;
  /* margin-right: 200px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 170px;
  }
  
  .feedback-given-custom-table th, .feedback-given-custom-table td {
  padding: 5px;
  text-align: left;
  border-bottom: 0.5px solid #ddd;
  line-height: 1.2;
  }
  
  .feedback-given-custom-table th {
  /* background-color: rgb(10, 102, 222); */
  color: rgb(8, 8, 8);
  background-image: url("https://images.unsplash.com/photo-1701221238491-d5247ff7abcc?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* color: white; */
  }
  
  .feedback-given-custom-table tbody tr:hover {
  background-color: #f5f5f5;
  }
  .feedback-given-small-input1{
  width: 80px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px; /* Add margin to separate input fields */
  }
  
  body::before {
    content: "Pursuit Software";
    font-family: sans-serif;
    font-size: 3.8em;
    color: #a39696;
    opacity: 0.1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    z-index: -1;
  } 