.Feedback-container {
      display: flex;
      z-index: -1;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 120vw;
      height: 100vh;
      margin: 0 auto;
      position: fixed;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
     
    .feedback-receive-completedButton {
      background-color: blue;
      color: white;
      border: none;
      padding: 4px 8px;
      font-size: 14px;
      border-radius: 50px;
      cursor: pointer;
    }
     
     
    .feedback-receive-completedButton:hover {
      background: linear-gradient(to right, blue, rgb(198, 121, 231));
    }
     
    .feedback-receive-table-container {
      margin: 38px;
      width: 80vw;
      margin-left: 10px;
      background-size: cover;
    }
     
    .feedback-receive-custom-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 50px;
      background-size: cover;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
     
    .feedback-receive-custom-table th, .feedback-receive-custom-table td {
      padding: 8px;
      text-align: left;
      border-bottom: 0.5px solid #ddd;
      line-height: 1.3;
    }
     
    .feedback-receive-custom-table th {
      background-color: rgb(10, 102, 222);
      background-image: url("https://images.unsplash.com/photo-1701221238491-d5247ff7abcc?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");;
     
      
      color: white;

    }
     
    .feedback-receive-custom-table tbody tr:hover {
      background-color: #f5f5f5;
    }


   
    