body{
    height: 88vh;
}

.approvereject{
    height: 330px;
    margin-top: 150px;
    /* border: 2px solid red; */
    padding-left: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    padding-top: 100px;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.2);
}

.approve{
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
    /* background-color: rgb(10, 102, 222); */
    background-color:green;
    color: white;
    border: none;
    border-radius: 10px;
    height: 90px;
    width: 130px;
    font-size: 18px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
    margin-top:10px;
    margin-right: 50px;
        margin-left: -50px;
}
.approve:hover{
    background: rgb(1, 79, 1);
}
.reject{
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
    /* background-color: rgb(10, 102, 222); */
    background-color:red;
    color: white;
    border: none;
    border-radius: 10px;
    height: 90px;
    width: 130px;
    font-size: 14px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
    margin-top:60px;

}
.reject:hover{
    /* background: linear-gradient(to right, blue, rgb(198, 121, 231)); */
    background-color:rgb(146, 3, 3);
}
.approve-text{
    margin-left: -100px;
    margin-top: -50px;
}
.reject-text{
    margin-left: -100px;
}
.tick{
    font-size: 30px;
}