
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 
    /* background: #d8d4d8; */
}
.container{
   bottom: 0;
}
body::before {
    content: "Pursuit Software";
    font-family: sans-serif;
    font-size: 3.8em;
    color: #a39696;
    opacity: 0.1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    z-index: -1;
}


.main-div-setpassword {
    width: 60vw;
    height: 450px; 
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 50px;
    color: black;
    font-size:medium;
    margin-top: 80px;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.2);
}


.setpass-label-input {
    margin-bottom:5px;
    height:60px;
    width:fit-content;
}
.setpass-form-label{
    float:left;
    text-align:center;
    padding-top:10px;
}
.setpass-input-css-form {
    margin-left: 270px;
    width: 280px;
    height: 40px;
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    box-sizing: border-box;
 
}

.setpass-submit-button {
    /* width: fit-content;
    height:30px;
    padding: 6px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 15px;
     cursor: pointer;
    font-size:small;
    float:right;
    margin-right: 20px; */
    /* display: flex;
    justify-content: center;
    text-align: center; */
    border: none;
    background-color: rgb(10, 102, 222);
    width: 160px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    /* padding-bottom: 20px;
    padding-top:8px; */
    /* margin-left: 100px; */
    float: right;
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.653);
    top:0;
    /* margin-top: 20px; */
    /* margin-bottom: 60px; */
}

.setpass-submit-button:hover {
    background: linear-gradient(to right,blue,rgb(198, 121, 231));
}

.setpass-label-username {
    color: #fff;
}

.setpass-error-message {
    color: #ffcc00;
    padding-bottom: 20px;
    font-size: 8px;
}

/* Forget Password Field Styling */
.setpass-forget-password {
    text-align: center;
    margin-top: 20px;
}

.setpass-forget-password a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.setpass-forget-password a:hover {
    color: #ffcc00;
}
.pas-not-match{
    height:20px;
    width:fit-content;
    font-size:13px;
    color:rgb(234, 89, 11);
}
.checkboxes{
    margin-top:20px;
    padding-top:15px;
    font-size:13px;
    color:rgb(20, 20, 20);

}
.setpass-username-label-input{
   margin-bottom: 40px;
   text-align:center;
   color:rgb(18, 18, 20);
}
.user-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  .user-icon {
    font-size: 20px;
    border: 2px solid black;
    width: 30px;
    height: fit-content;
    border-radius: 50%;
  }
/* Add this style to make the checkboxes green */
.checkboxes input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
   
  }
  
  .checkboxes input[type="checkbox"]:checked {
    background-color: rgb(97, 249, 97);
    border-color: rgb(0, 0, 0);
    color: black;
  }
  .setpass-continue-text{
    padding: 5px;
    color: green;
    font-weight: 700;
  }

  
 
  

  